* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #EFEFEF;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.centred {
    width: 50%;
    max-width: 380px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    overflow: hidden;
    line-height: 1;
}

.logo .ms {
    font-size: 150%;
}

.logo .ms sup {
    font-size: 40%;
    font-weight: bold;
}

.logo .win {
    font-size: 400%;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    margin-top: -10px;
}

.logo .xp {
    font-size: 300%;
    font-weight: bold;
    color: #FF3300;
    float: left;
    margin-top: -20px;
}

.logo img {
    width: 66.67%;
    display: block;
    margin: 0 auto -30px;
}

.loader {
    position: relative;
    margin: 10% 15% 5%;
    width: 66.67%;
    max-height: 20px;
    height: 3vh;
    padding: 3px 2px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    overflow: hidden;
}

.loader span {
    display: block;
    float: left;
    margin: 0 1px 3px;
    height: calc(3vh - 6px);
    max-height: 12px;
    width: 8px;
    background-color: #708CF1;
    background: linear-gradient(#708CF1 0%, #708CF1 40%, #2838C7 70%, #2838C7 100%);
}

.title {
    font-family: 'arial-black', serif;
    position: absolute;
    bottom: 12.5%;
    right: 7.5%;
    font-weight: bold;
    font-style: italic;
}

.copy {
    position: absolute;
    bottom: 12.5%;
    left: 7.5%;
}